body {
  margin: auto;
  width: 70%;
}
.feedback {
  color: red;
  display: none;
}

.valid-feedback {
  color: green;
  display: none; 
}

.bg {
  flex: 1;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #ffffff;
  background-color: #10172e;
}

@media screen and (max-width: 600px) {
  .break_mobile {
    display: block;
  }
  
  #username, #email, #phone, #password {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
}


@media screen and (min-width: 601px) {
  .form-group {
    display: flex;
    align-items: center;
  }

  .form-group > #username, #email, #phone, #password {
    width: 30%;
    margin-right: 10px;
  }

  .form-group label {
    width: 100px;
    margin-bottom: 0;
    text-align: right;
    padding-right: 10px;
  }

  .form-group .feedback {
    flex-basis: 100%;
    padding-left: 110px; /* aligns with input start */
    margin-top: 5px;
  }

  .form-group.full-width {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 110px; /* aligns with inputs */
  }
}