.feedback {
  color: red;
  display: none;
}

.valid-feedback {
  color: green;
  display: none; 
}

@media screen and (max-width: 600px) {
  .break_mobile {
    display: block;
  }
  
  #username, #email, #phone, #password {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 601px) {
  .break_mobile {
    display: none;
  }
}