body {
    background-color:#8f6767;
    margin: auto;
    text-align: center;
}

p, li, a, h2 {
    color:#ffffff;
}

img {
    border-radius: 15px;
    width: 100%;
}

#mainHeading {
    color:#ffffff;
}

.bgroundcolor {
    background-color: #333;
    align-content: center;
}

.textColor {
    color: #ffffff;
}

table {
    margin: 0px auto;
}

section {
    align-content: center;
}