
body {
    background-image: url('/Images/bground.png');
    width: fit-content;
    
}

.pattern {
    width:  100%;
}

.royal {
    width: 100%;
}
h1 { 
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;

}


p {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

li {
    padding-left: 1em;
    text-indent: -1em;
}

.image {
    border-radius: 15px;
}

li:before {
    content:url(Images/flag.jpg);
    padding-right: 5px;
}

.list {
    color:#a10000;
    font-size:medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.places { 
    color:#a10000;
    font-family:"Rancho", cursive;
    font-style: normal;
    font-size:x-large;
}

div {
    display: flex;
    justify-content: center;
}

#title {
    display:block;
    width:500px;
    margin-left: auto;
    margin-right: auto;
}
nav {
    background-color: #a10000;
    text-align: center;
}
.nav {
    color: #fff;
    font-size: larger;
}
#row {
    width: auto;
    height: auto;
    display:flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    color: #a10000;
}

h2 {
    background-color: #a10000;
    color:#fff;
    text-align: center;
}

h3 {
    text-align: center;
}
.both_palaces {
    display: flex;
    justify-content: center;
    place-content: end space-between ;
}

.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr;
 column-gap: 5px;
}

img {
  max-width: 100%;
  max-height:100%;
}

.text {
  font-size: 15px;
}
footer {
    width: 100%;
}

table {
    margin: 0px auto; 
    margin-left: auto; 
    margin-right: auto;
}