body {
  background-color: forestgreen; /* (1) was missing a dash between the two words of the property*/
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* (2) incomplete information after the property ("Gill Sans") */
}

header {
  background-color: Gold; /* (3) mispelling of gold (G0ld)*/
  color: green; /* (4) changed color from black to green. */
  text-align: center;
  font-size: 2em;
  padding: 20px; /* (5) mispelling of padding (paddding)*/
  margin: 0;
}

nav { /* (6) take out the . from in front of the nav element (.nav). */
  background-color: #2e1a1a;
  width: 100%;
  margin: 0;
  padding: 0 5px;
  position: sticky;
  top: 0;
}

nav li {
  display: inline;
  border-right: 1px solid grey;
}

nav li:last-child {
  border-right: none;
}

nav ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: gold;
  font-weight: bold;
  padding: 14px 16px;
}

nav a:hover { /*extra ":" between a and hover ("a::hover")*/
  background-color: gold;
  color: #2e1a1a;
}

main {
  background-color: lightgreen;
  margin: 50px 100px; /* (7) missing "px" at the 100px (was just 100). */
  padding: 50px;
}

#garden { /* (8) missing "#" because it has an ID. */
  border: 5px solid brown;
  border-radius: 30px;
  box-shadow: 5px 5px 15px grey;
  height: 30%; /* missing % on height ("30")*/
  width: 30%;
}

section {
  margin-top: 30px; /* (9) dash missing between margin and top*/
}

h2 {
  color: brown;
}

footer {
  background-color: #2e1a1a;
  opacity: 0.9;
  padding: 30px 50px;
  color: gold;
  text-align: center;
}