ul {
    display: block;
    margin: 0 0 0 0;
}


.pattern {
    width: 100%
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #035e26;
}

li {
    list-style-type: none;
    display:inline-block; 
}

.header {
    background-color: #ffffff;
}


li>a {
    color: #035e26;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px;
    word-spacing: 10px;
    font-weight: bolder;
    /*margin-right: 5px;*/
    /*box-shadow: 5px 5px;*/
}

li>a:hover {
    text-decoration:wavy;
    color:  rgb(255, 255, 255);
    background-color:#cdcdcd;
    border-radius: 8px;
}

.wlogo {
    width: 100px;
    display: block;
    margin: 0 auto;
}

video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {}
    .menu-icon {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
    }

    nav {
        text-align: left;
    }

    .dropbtn {
    background-color:  rgb(255, 255, 255);
    color: #035e26;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    padding: 10px;
    border: none;
    cursor: pointer;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #035e26;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    align-items: left;
    text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display:grid;
    align-items: left;
}


.logo {
    display:none;
}

h1 {
    font-size: 35px;
}