/* These are the required criteria for css in the activity. */
ul {
    display: block;
    margin: 0 0 0 0;
}

li {
    list-style-type: none;
    display:inline-block;   
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    padding: 10px;
    box-shadow: 5px 5px;
}

a:hover {
    color:  rgb(68, 155, 171);
    background-color: #ffffff;
}

/* These are just my own additions to make the website look a little better. */

body {
    background-color: rgb(68, 155, 171);
}

iframe {
    border: none;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bolder;
    font-size: 50px;
    letter-spacing: 5px;
    margin: auto;
}

/*styling for the dropdown*/
/* Style The Dropdown Button */
.dropbtn {
    box-shadow: 5px 5px;
    background-color:  rgb(68, 155, 171);
    color: #ffffff;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    padding: 10px;
    border: none;
    cursor: pointer;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(68, 155, 171);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: rgb(68, 155, 171);
    background-color: #ffffff;
}

img {
    display:block;
    margin: auto;
}